@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    background-color: #eeeeee;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
    /* font-family: 'Poppins', sans-serif; */
    /* background: rgb(15, 19, 26); */
}

html {
    font-family: 'Montserrat', sans-serif;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */

:root {
    --secondary: #b2b2b2;
}

*::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 12px;
}

@layer components {
    .hide {
        @apply focus: ring-2 focus:ring-offset-2 border-0 focus:outline-none focus:ring-primary;
    }

    .hide-red {
        @apply focus: ring-2 focus:ring-offset-2 border-0 focus:outline-none focus:ring-red-500;
    }
}